{% extends 'EndroidPredictionIOBundle::layout.html.twig' %}

{% block page_title %}
    Recommendation Engine
{% endblock %}

{% block page_content %}

    <div id="application"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        let appConfig = {
            statePath: "{{ path('endroid_predictionio_state') }}",
            initializePath: "{{ path('endroid_predictionio_initialize') }}",
            viewPath: "{{ path('endroid_predictionio_view', { userId: 'UID', itemId: 'IID' }) }}",
            purchasePath: "{{ path('endroid_predictionio_purchase', { userId: 'UID', itemId: 'IID' }) }}",
        }
    </script>

    {% if app.debug %}
        <script src="http://localhost:8080/builds/index.js"></script>
    {% else %}
        <script src="{{ asset('bundles/endroidpredictionio/builds/index.js') }}"></script>
    {% endif %}

{% endblock %}

{#{% extends 'EndroidPredictionIOBundle::layout.html.twig' %}#}

{#{% block page_content %}#}

    {#<h1>Prediction IO</h1>#}
    {#<div><a href="{{ path('endroid_play_predictionio_init') }}">Initialize engine</a> and train your engine after making changes to update the prediction model</div>#}

    {#<br />#}

    {#<div class="table-responsive">#}

        {#{% for userId, recommendedItems in recommendations %}#}
            {#<table class="table table-striped table-bordered">#}
                {#<tr>#}
                    {#<td rowspan="4"><strong>{{ userId }}</strong></td>#}
                    {#{% for n in range(0, 9) %}#}
                        {#<td><strong>P{{ n }}</strong></td>#}
                    {#{% endfor %}#}
                {#</tr>#}
                {#<tr>#}
                    {#{% for n in range(0, 9) %}#}
                        {#<td><a href="{{ path('endroid_play_predictionio_view', { userId: userId, itemId: 'P' ~ n }) }}">view</a></td>#}
                    {#{% endfor %}#}
                {#</tr>#}
                {#<tr>#}
                    {#{% for n in range(0, 9) %}#}
                        {#<td><a href="{{ path('endroid_play_predictionio_purchase', { userId: userId, itemId: 'P' ~ n }) }}">purchase</a></td>#}
                    {#{% endfor %}#}
                {#</tr>#}
                {#<tr>#}
                    {#{% for recommendation in recommendedItems.itemScores %}#}
                        {#{% if recommendation.score > 0 %}#}
                            {#<td>{{ recommendation.item }} ({{ recommendation.score|number_format(2) }})</td>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#</tr>#}
            {#</table>#}
        {#{% endfor %}#}

    {#</div>#}

{#{% endblock %}#}