{% extends 'EndroidPredictionIOBundle::layout.html.twig' %}

{% block page_title %}
    Recommendation Engine
{% endblock %}

{% block page_content %}

    <div id="application"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        let appConfig = {
            statePath: "{{ path('endroid_predictionio_state') }}",
            initializePath: "{{ path('endroid_predictionio_initialize') }}",
            viewPath: "{{ path('endroid_predictionio_view', { userId: 'UID', itemId: 'IID' }) }}",
            purchasePath: "{{ path('endroid_predictionio_purchase', { userId: 'UID', itemId: 'IID' }) }}",
        }
    </script>

    {% if app.debug %}
        <script src="http://localhost:8080/builds/index.js"></script>
    {% else %}
        <script src="{{ asset('bundles/endroidpredictionio/builds/index.js') }}"></script>
    {% endif %}

{% endblock %}