{% extends 'EndroidPredictionIOBundle::layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {% if app.debug %}
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/build/index.css" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="/bundles/endroidpredictionio/build/index.js" />
    {% endif %}

{% endblock %}

{% block page_title %}
    Recommendation Engine
{% endblock %}

{% block page_content %}

    <div id="application"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        let appConfig = {
            statePath: "{{ path('endroid_predictionio_state') }}",
            initializePath: "{{ path('endroid_predictionio_initialize') }}",
            viewPath: "{{ path('endroid_predictionio_view', { userId: 'UID', itemId: 'IID' }) }}",
            purchasePath: "{{ path('endroid_predictionio_purchase', { userId: 'UID', itemId: 'IID' }) }}",
        }
    </script>

    {% if app.debug %}
        <script src="http://localhost:8080/build/index.js"></script>
    {% else %}
        <script src="/bundles/endroidpredictionio/build/index.js"></script>
    {% endif %}

{% endblock %}