{% extends 'EndroidPredictionIOBundle::layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ manifest_asset('build/index.css', 'bundles/endroidpredictionio/build/manifest.json') }}" />

{% endblock %}

{% block page_title %}
    Recommendation Engine
{% endblock %}

{% block page_content %}

    <div id="application"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        let appConfig = {
            statePath: "{{ path('endroid_predictionio_state') }}",
            initializePath: "{{ path('endroid_predictionio_initialize') }}",
            viewPath: "{{ path('endroid_predictionio_view', { userId: 'UID', itemId: 'IID' }) }}",
            purchasePath: "{{ path('endroid_predictionio_purchase', { userId: 'UID', itemId: 'IID' }) }}",
        }
    </script>

    <script src="{{ manifest_asset('build/index.js', 'bundles/endroidpredictionio/build/manifest.json') }}"></script>

{% endblock %}